

    .labels{
        -fx-background-color: #ffffff;
        -fx-background-radius: 10;
        -fx-padding: 10;

        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
    }



    .table-view {
        -fx-background-color: transparent;
        -fx-border-color: #ffffff;
        -fx-border-radius: 10;
        -fx-background-radius: 10;
        -fx-padding: 10;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    }

    .table-view .column-header-background {
        -fx-background-color: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
        -fx-border-radius: 10 10 0 0;
        -fx-background-radius: 10 10 0 0;
    }

    .table-view .column-header {
        -fx-border-color: transparent transparent #dddddd transparent;
        -fx-border-width: 0 0 2 0;
        -fx-font-weight: bold;
    }

    .table-view .table-row-cell {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
        -fx-border-width: 0;
    }

    .table-view .table-row-cell:filled:selected, .table-view .table-row-cell:filled:hover {
        -fx-background-color: #e6f7ff;
    }

    .table-view .table-cell {
        -fx-padding: 10;
        -fx-border-color: #dddddd;
        -fx-border-width: 0 0 1 0;
    }

    .table-view .table-cell:selected {
        -fx-background-color: #cceeff;
        -fx-text-fill: black;
    }

    .table-view .table-row-cell:odd {
        -fx-background-color: #f9f9f9;
    }

    .table-view .table-row-cell:even {
        -fx-background-color: #ffffff;
    }

    .table-view .column-header .label {
        -fx-font-size: 14px;
        -fx-text-fill: #333333;
    }

    .table-view .table-cell .label {
        -fx-font-size: 12px;
    }


    .signup-pane {
        -fx-background-color:
             linear-gradient(to bottom right,
                 #a3eff0,
                 #a3ddf0 20%,
                 #a3c8f0 40%,
                 #a3bdf0 60%,
                 #aca3f0 80%,
                 #6a5acd), /* Add a darker shade */
             linear-gradient(to top left,
                 rgba(163,239,240,0.7),
                 rgba(163,221,240,0.7) 20%,
                 rgba(163,200,240,0.7) 40%,
                 rgba(163,189,240,0.7) 60%,
                 rgba(172,163,240,0.7) 80%,
                 rgba(106,90,205,0.7)); /* Add a darker shade with transparency */;

    }

.transparent-pane {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* Lighter white with reduced opacity */
    -fx-background-radius: 30; /* Rounded corners with radius of 30 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.2, 4, 4); /* Outer drop shadow effect */
    -fx-padding: 10; /* Optional: Add padding to prevent shadow clipping */
}

.rounded-label1 {
     -fx-background-color:  rgba(163,200,240,0.8);

    -fx-background-radius: 15; /* Rounded corners with radius of 15 */
    -fx-padding: 5 10; /* Padding for the label content */

}
.custom-label2 {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* White background with 0.8 opacity */
    -fx-background-radius: 10; /* Rounded edges with radius of 10 */
    -fx-padding: 5; /* Padding for label content */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.2, 2, 2); /* Drop shadow effect */
}
.custom-drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 2);
}

.custom-button {
    -fx-background-color: #fbfbfb; /* White background */
    -fx-background-radius: 20; /* Rounded edges */
    -fx-padding: 8 16; /* Padding for button content */
    -fx-border-color: rgba(163,200,240,0.8); /* Blue border color */
    -fx-border-width: 2;
    -fx-border-radius : 20;/* Border width */
}
/* Button hover effect */
.custom-button:hover {
    -fx-background-color: rgba(163,200,240,0.8); /* Light blue background on hover */
}

.custom-button2 {
    -fx-background-color: #fbfbfb; /* White background */
    -fx-background-radius: 8; /* Rounded edges */
    -fx-border-color: rgba(163,200,240,0.8); /* Blue border color */
    -fx-border-width: 2;
    -fx-border-radius : 8;/* Border width */
}
.custom-button2:hover {
    -fx-background-color: rgba(215, 238, 250,0.9);
}